/*nav {
    background: burlywood;
    width: 100%;
    overflow: auto;
    height: 50px;
    padding-top: 20px;
    overflow-y: hidden;
} 
li{
    float: right;
}
*{
    box-sizing: border-box;
}*/
 li{
     padding: 10px;
     
     
 }

 li a{
     text-decoration: none;
     color: white;
 }
 ul{
     display: flex;
     background-color: burlywood;
     list-style: none;
     float: right;
     margin: 0;
     padding: 0;
 }
body{
    background: url("makao-images/photo-1536376072261-38c75010e6c9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
header{
    margin: 0%;
    text-align: center;
    
    height: 400px;
}
ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
/*nav a{
    width: 120px;
    /* display: block; */
   /* text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 20px;
    display: inline;
    padding-top: 50px;
}*/

.backGroundImage{
    padding-top: 100px;
    color: #a72a2a;
    font-size: 1.7em;
}
.slogan{
    width: 50%;
    height: 300px;
    margin: auto;
    background-color: burlywood;
    font-size: 2;
    text-align: center;
    padding: 50px ;
    color: black;
    
}
