body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} 
header{
    background-image: url("./images/home/header.jpg");
    background-position: center center;
    background-size: 100% 100% ;
    height: 700px;  
}

.banner-images{
    background-color:  #FC9925;
    height: 300px;
    margin-top: 10px;
    border-radius: 35px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 25px;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
}
.imageOne{
    background-image: url('./images/home/bg-imageOne.jpeg');
    background-size: cover;
    width: 300px;
    margin: 40px;
    border-radius: 30px;
    text-align: center;
    
}
.mwanzo{
    background-color: rgba(255, 255, 0, 0.4);
}

.imageTwo{
    background-image: url('./images/home/bg-imageOne.jpeg');
    background-size: cover;
    width:300px;
    margin: 40px;
    border-radius: 30px;
    text-align: center;
}
.imageThree{
    background-image: url('./images/home/bg-imageOne.jpeg');
    background-size: cover;
    width :300px;
    margin: 40px;
    border-radius: 30px;
    text-align: center;
}

.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #011c39;
    background-color: rgba(252, 153, 37, 0.5) ;
}

.footer > *{
    flex: 1 100%
}
footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left p{
    font-weight: 600;
}
h2{
    font-weight: 400;
    font-size: 17px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}

footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
@media screen and (min-width:600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media(max-width: 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}



.content-message{


}
.email{

}



li{
    padding: 10px;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

ul{
    
    display: flex;
    
    background-color:burlywood;
    list-style: none;
    float: right;
    
    /*padding: 0%;*/
    margin: 0%;
   
}

#heading{
    text-align: center;
    padding-top: 100px;
    color: #a72a2a;
   
    font-size: 1.7em;
    
}

/* .search{
    padding-top: 50px;
    margin:auto;
    width: 50%;
    
}

.search #housesearch{
    background-color:#FC9925;
    height: 50px;
    width: 60%;
    opacity: 0.6;
    border-radius: 25px;
    border-color: white;
    position: relative;
    font-size: 1.3em;
    
    
} */

#house{
    background-color:  #C4C4C4;
    position: relative;
    width: 80%;
    height: 300px;
    left: 140px;
    margin-top: 100px;
    border-radius: 35px;
    box-sizing: border-box;
    display: flex;

   
}
/* 
#variety{
    height: 200px;
    width: 200px;
    padding-left: 50px;
    padding-top: 50PX;
    border-radius: 35px;
} */

nav a:hover{
    background-color: skyblue;
}
 nav a.active{
     background-color: #a72a2a;
 }
 



 #housesearch{
     width: 80%;
     border: 2px solid #aaa;
     border-radius: 4px;
     margin:50px;
     outline: none;
     padding: 15px;
     box-sizing: border-box;
     transition: 3s;
     text-align: center;
 }
 #housesearch:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  


  .wrapper {
    display: grid;
    grid-template-columns: 50.00% 50.00%;	
    margin: 50px;
  }
  
  
  .box {
          background-color: #444;
          color: #fff;
          padding: 1em;
          height: 500px;
  }
  
  * {
      box-sizing: border-box;
  }
  #varietyOne{
      height: 450px;
      width: 500px;
      border-radius: 35px;
      
  }
  .a {
      background-color: rgba(252, 153, 37, 0.5);
      height: 500px;
      margin:35px;
      border-radius: 35px;
  }
  .b {
      background-color:rgba(252, 153, 37, 0.5);
      height: 500px;
      margin:35px;
      border-radius: 35px;
  }
  
  
 