body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-image: url("./images/header2.jpg");
    background-position: center center;
    background-size: 100% 100% ;
    height: 450px;
    padding-top: 0px;
    margin-top: 0px ;
}
ul {
    list-style-type: none;
    display: flex;
    float: right;
    background-color: burlywood;
    padding: 10px;



}
li a {
   text-decoration: none;
   color: white;
   padding: 10px;
   border: 5%;

}
 nav{
    margin: 0;
    padding: 0;
    
 }
h1 {
    margin-top: 0;
    text-align: center;
    align-items: center;
    padding-top: 15%;
    font-size: 60px;
    font-weight: 600;
    color: #a72a2a;
}
img{
    width: 30%;
    height: 30vh;
    border: 2px black;
    border-radius: 18%;
    padding: 20px;
    margin-left: 30px;
}
p{
    transform: translate(400px, -150px);
    
}
.price-list p{
    margin-left: 150px;
}
.price-list{
    width: 80%;
}

/*input{
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FC9925;
}
nav {
    background: burlywood;
}*/

/*ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 20%;
}*/
nav a:hover{
    background-color: skyblue;
}
nav a.active{
    background-color: #a72a2a;
}

input{
    background-color:#FC9925;
    height: 50px;
    width: 40%;
    opacity: 0.6;
    border-radius: 25px;
    border-color: white;
    position: relative;
    font-size: 1.3em;
    margin-left: 30%;
    text-align: center;
}
main{
    background-color: #c4c4c4;
    width: 100%;
    
    margin-top: 50px;
    display: inline-block;
}



/* css for footer */


.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #011c39;
    background-color: rgba(252, 153, 37, 0.5) ;
}

.footer > *{
    flex: 1 100%
}
footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left p{
    font-weight: 600;
}
h2{
    font-weight: 400;
    font-size: 17px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}

footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
@media screen and (min-width:600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media(max-width: 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}