

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
   display: inline-block;
   border: 1px solid black;
   border-style: dotted;
   margin: 1%;
   padding: 15px;
   justify-content: right;
   transform: translate(700px, 0);
}
.one{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
img{
    width: 25%;
    height: 30vh;
    border: 2px black;
    border-radius: 18%;
    padding: 20px;
    margin-left: 30px;
}
p{
    transform: translate(500px, -150px);
}
input{
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 2%;
    background-color: #FC9925;
}
nav {
    background: burlywood;
    width: 100%;
    overflow: auto;
} 
li{
    float: right;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background: red;
}
ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 20%;
}