    
header{
    background-image: url("./images/header.jpg");
   
    background-position: center center;
    background-size: 100% 100% ;
    height: 300px;
    
}

li{
    padding: 10px;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
}
ul{
    
    display: flex;
    background-color:burlywood;
    list-style: none;
    float: right;
    
    /*padding: 0%;*/
    margin: 0%;
   
}
/*#navigation{
    float: right;
    
    background-color:rgb(88, 125, 143);
    height: 50px;
   
}*/
#heading{
    text-align: center;
    padding-top: 100px;
    color: #a72a2a;
   
    font-size: 1.7em;
    
}

.search{
    padding-top: 50px;
    margin:auto;
    width: 50%;
    
}

.search #housesearch{
    background-color:#FC9925;
    height: 50px;
    width: 60%;
    opacity: 0.6;
    border-radius: 25px;
    border-color: white;
    position: relative;
    font-size: 1.3em;
    
    
}

#house{
    background-color:  #C4C4C4;
    position: relative;
    width: 80%;
    height: 300px;
    left: 140px;
    margin-top: 100px;
    border-radius: 35px;
}
/*#house2{
    background-color:  #C4C4C4;
    
    width: 1184px;
    height: 300px;
    left: 140px;
    margin-top: 100px;
    border-radius: 35px;}
*/