    
header{
    background-image: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    
}

li{
    padding: 10px;
    color: white;
}
ul{
    
    display: flex;
    background-color: rgb(88, 125, 143);
    list-style: none;
    float: right;
    /*padding: 0%;*/
    margin: 0%;
}
/*#navigation{
    float: right;
    
    background-color:rgb(88, 125, 143);
    height: 50px;
   
}*/
#heading{
    text-align: center;
    padding-top: 100px;
    color: #b84427;
    font-size: 1.7em;
   
}

.search{
    padding-top: 20px;
    margin:auto;
    width: 50%;
    
}

.search #housesearch{
    background-color:rgba(245, 181, 91, 1);
    height: 25px;
    
    
}
    

