@media only screen and (min-width:100px){
header{
    background-image: url("./images/header2.jpg");
   
    background-position: center center;
    background-size: 100% 100% ;
    height: 450px;
    
}

li{
    padding: 10px;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
}
ul{
    
    display: flex;
    background-color:burlywood;
    list-style: none;
    float: right;
    
    /*padding: 0%;*/
    margin: 0%;
   
}
/*#navigation{
    float: right;
    
    background-color:rgb(88, 125, 143);
    height: 50px;
   
}*/
#heading{
    text-align: center;
    padding-top: 100px;
    color: #a72a2a;
   
    font-size: 1.7em;
    
}

.search{
    padding-top: 50px;
    margin:auto;
    width: 50%;
    
}

.search #housesearch{
    background-color:#FC9925;
    height: 50px;
    width: 60%;
    opacity: 0.6;
    border-radius: 25px;
    border-color: white;
    position: relative;
    font-size: 1.3em;
    
    
}

#house{
    background-color:  #C4C4C4;
    position: relative;
    width: 80%;
    max-width: auto;
    height: 300px;
    left: 100px;
    margin-top: 100px;
    margin-right: 300px;
    border-radius: 35px;
    box-sizing: border-box;
    display: flex;

   
}

#house button{
    height: 50px;
    width: 100px;
    border-radius: 20px;
   
    background-color: #FC9925;
    opacity: 0.6;
    margin-top: 80px;
    margin-right: 200px;
}
#house p{
    width: 400px;
   font-weight: 900 ;
   font-size: 1.2em;
   margin: 40px 50px 100px 50px;
}
/*#house2{
    background-color:  #C4C4C4;
    
    width: 1184px;
    height: 300px;
    left: 140px;
    margin-top: 100px;
    border-radius: 35px;}
*/
#variety{
    height: 200px;
    width: 200px;
    padding-left: 50px;
    padding-top: 50PX;
}

}
/*#slides{
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
}
 
x.slider{
    display: none;
}

.prev,
.next{
    cursor: pointer;
    position: absolute;
    color:white;
    font-size: 20px;
   
    user-select: none;
    
}
a.next{
    right: 40%;
    padding-top: 80px;
}
a.prev{
    padding-top: 80px;
    padding-left: 5px;
}
a.prev:hover,
a.next:hover{
    background-color: black;
}
.dots-container{
    display: flex;
    justify-content: left;
    padding: 10px;
}
.dots-container .dot{
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    color: #333;
    border-radius: 50%;
    background-color: cadetblue;
}*/